modules = ["nodejs-20", "bash", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Runner"

[[workflows.workflow]]
name = "Test Runner"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm test"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[userenv]

[userenv.development]
BACKEND_ENV = "staging"
KNEX_CONNECT = "postgresql://postgres:password@helium/heliumdb?sslmode=disable"

[userenv.shared]
SKIP_HYDRA_TESTS = "1"
